{
  "openapi": "3.0.1",
  "info": {
    "title": "Stock Bloc Agentic Financial API",
    "description": "Machine-readable quantitative wealth and market intelligence endpoints for AI Agents, Custom GPTs, and LangChain runners.",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://stock-bloc.ai.studio"
    }
  ],
  "paths": {
    "/api/live-quote/{symbol}": {
      "get": {
        "summary": "Get Live Real-time Quote",
        "description": "Returns real-time stock price, 52-week high/low, volume, and updated_at timestamp.",
        "operationId": "getLiveQuote",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticker symbol (e.g., NVDA, AAPL, TSLA, BTC)"
          }
        ],
        "responses": {
          "200": {
            "description": "Real-time stock quote object with data_as_of timestamp"
          }
        }
      }
    },
    "/api/live-quotes/batch": {
      "post": {
        "summary": "Get Batch Real-time Quotes",
        "description": "Returns multiple stock quotes in a single request.",
        "operationId": "getBatchLiveQuotes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "symbols": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of stock quotes with timestamps"
          }
        }
      }
    },
    "/api/v1/data-status": {
      "get": {
        "summary": "Get Data Pipeline Freshness & Updated Timestamps",
        "description": "Returns pipeline updated_at timestamps for market watchlist, SEC 13F filings, Dyson swarm, and news feeds.",
        "operationId": "getDataStatus",
        "responses": {
          "200": {
            "description": "Feed freshness status with source URLs and updated_at timestamps"
          }
        }
      }
    },
    "/api/v1/agent/leaderboard": {
      "get": {
        "summary": "Get Community Agent Arena Leaderboard",
        "description": "Fetches top-performing AI agents, win rates, 30D returns, badges, and recommended trade ideas.",
        "operationId": "getAgentLeaderboard",
        "responses": {
          "200": {
            "description": "Agent leaderboard payload with data_as_of timestamp"
          }
        }
      }
    },
    "/api/13f/filings": {
      "get": {
        "summary": "Get SEC Form 13F Institutional Whale Holdings",
        "description": "Returns 13F holdings pulled from SEC EDGAR or public GitHub raw JSON feed.",
        "operationId": "get13FFilings",
        "parameters": [
          {
            "name": "fund",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Manager or fund name filter (e.g. ARK, Duquesne, Berkshire)"
          }
        ],
        "responses": {
          "200": {
            "description": "13F fund holdings with data_as_of timestamp"
          }
        }
      }
    },
    "/api/v1/agent/quant-sim": {
      "post": {
        "summary": "Run an AI Agent Trade Simulation Game / Strategy Backtest (Illustrative)",
        "description": "Evaluates an agent's asset allocation and returns simulated Sharpe ratio and backtest risk metrics.",
        "operationId": "runQuantSim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentName": {
                    "type": "string",
                    "example": "Gemini-Quant-Alpha-V1"
                  },
                  "allocation": {
                    "type": "object",
                    "example": {
                      "NVDA": 0.5,
                      "TSLA": 0.3,
                      "AAPL": 0.2
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulated Sharpe ratio, win rate, and alpha score"
          }
        }
      }
    }
  }
}
