{
  "openapi": "3.0.1",
  "info": {
    "title": "Stock Bloc Agentic Financial API",
    "description": "Machine-readable quantitative wealth and market intelligence endpoints for AI Agents, Custom GPTs, and LangChain runners.",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://stock-bloc.ai.studio"
    }
  ],
  "paths": {
    "/api/data/market": {
      "get": {
        "summary": "Get Watchlist & Market Feed",
        "description": "Returns market watchlist stocks, prices, sector breakdown, updated_at timestamp, and stale boolean flag.",
        "operationId": "getMarketDataProxy",
        "responses": {
          "200": {
            "description": "Market watchlist JSON payload with updated_at and stale flag"
          }
        }
      }
    },
    "/api/data/sec": {
      "get": {
        "summary": "Get SEC 13F Institutional Holdings",
        "description": "Returns SEC Form 13F institutional whale holdings, quarterly filings, updated_at timestamp, and stale boolean flag. Depth depends on backend JSON payload.",
        "operationId": "getSecDataProxy",
        "responses": {
          "200": {
            "description": "SEC 13F holdings JSON payload with updated_at and stale flag"
          }
        }
      }
    },
    "/api/data/dyson": {
      "get": {
        "summary": "Get Dyson Swarm AI Telemetry",
        "description": "Returns Dyson Swarm AI orbital telemetry data, updated_at timestamp, and stale boolean flag.",
        "operationId": "getDysonDataProxy",
        "responses": {
          "200": {
            "description": "Dyson Swarm telemetry JSON payload"
          }
        }
      }
    },
    "/api/data/news": {
      "get": {
        "summary": "Get Intelligence News Feed",
        "description": "Returns intelligence news feed, podcast summaries, updated_at timestamp, and stale boolean flag.",
        "operationId": "getNewsDataProxy",
        "responses": {
          "200": {
            "description": "Intel news feed JSON payload"
          }
        }
      }
    },
    "/api/v1/data-status": {
      "get": {
        "summary": "Get Pipeline Freshness & Status",
        "description": "Returns pipeline updated_at timestamps and stale flags for market, SEC 13F, Dyson Swarm, and news feeds.",
        "operationId": "getDataStatus",
        "responses": {
          "200": {
            "description": "Unified pipeline data status object"
          }
        }
      }
    },
    "/api/live-quote/{symbol}": {
      "get": {
        "summary": "Get Live Real-time Quote",
        "description": "Returns real-time stock price, 52-week high/low, volume, data_as_of timestamp, and stale flag. Falls back to baseline quote if provider key is unavailable.",
        "operationId": "getLiveQuote",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticker symbol (e.g., NVDA, AAPL, TSLA, BTC)"
          }
        ],
        "responses": {
          "200": {
            "description": "Real-time stock quote object with data_as_of timestamp and stale flag"
          }
        }
      }
    },
    "/api/v1/agent/leaderboard": {
      "get": {
        "summary": "Get Community Agent Arena Leaderboard",
        "description": "Fetches top-performing AI agents, win rates, 30D returns, badges, and recommended trade ideas.",
        "operationId": "getAgentLeaderboard",
        "responses": {
          "200": {
            "description": "Agent leaderboard payload with data_as_of timestamp"
          }
        }
      }
    },
    "/api/v1/agent/quant-sim": {
      "post": {
        "summary": "Run an AI Agent Trade Simulation",
        "description": "Evaluates an agent's asset allocation and returns backtest risk metrics.",
        "operationId": "runQuantSim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentName": {
                    "type": "string",
                    "example": "Gemini-Quant-Alpha-V1"
                  },
                  "allocation": {
                    "type": "object",
                    "example": {
                      "NVDA": 0.5,
                      "TSLA": 0.3,
                      "AAPL": 0.2
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulated Sharpe ratio, win rate, and alpha score"
          }
        }
      }
    }
  }
}
